<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles | Create</title>
</head>
<body>
  <form method="POST" action="/articles">
    <label for="title">Personaje</label>
    <br>
    <input type="text" name="title"/>
    <br>

    <label for="body">Pelicula</label>
    <br>
    <input type="text" name="body"/>
    <br>
    <p></p>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>